{% extends 'core/admin/base_admin.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

<div class="dashboard-container">

  <!-- HEADER -->
  <div class="dashboard-header">
    <h3>Edit Mehendi Design</h3>
    <p>Update category for this design</p>
  </div>

  <!-- FORM CARD -->
  <div class="card form-card">

    <form method="POST">
      {% csrf_token %}

      <!-- IMAGE PREVIEW -->
      <div class="edit-image-preview">
        <img src="{{ image.image.url }}">
      </div>

      <!-- CATEGORY -->
      <label class="form-label mt-3">Select Category</label>
      <select name="category" class="form-input">
        {% for cat in categories %}
          <option value="{{ cat.id }}"
            {% if cat.id == image.category.id %}selected{% endif %}>
            {{ cat.name }}
          </option>
        {% endfor %}
      </select>

      <!-- BUTTON -->
      <button class="btn-primary mt-3">Update</button>

    </form>

  </div>

</div>

{% endblock %}